.Countdown {
  display: flex;
  justify-content: space-around;
  width: 20rem;
}

.Countdown-col {
  display: flex;
  flex-direction: column;
}

.Countdown-col-element {
  border: 2px solid white;
  height: 5rem;
  border-radius: 50%;
  padding: 1.5rem;
  min-width: 5rem;
}
