nav {
  z-index: 1000;
}

@media screen and(max-width: 800px) {
  nav {
    display: flex;
    flex-direction: column;
    .navbar-brand {
      margin-right: 0;
    }
    .navbar-nav {
      width: 50% !important;
    }
  }
}
